<!DOCTYPE html>
<html>
　<head>
    <meta charset='utf-8'>
    <meta name="description" content="hfutdev.github.io : 技术分享博客">

    <link rel="stylesheet" type="text/css" media="screen" href="http://{{ site.baseurl }}/stylesheets/stylesheet.css">
　　 <title>{{ page.title }}</title>
　</head>
  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <a id="forkme_banner" href="https://github.com/hfutDev">View on GitHub</a>

        <a id="project_title" href="http://{{ site.baseurl }}">hfutDev</a>
        <h2 id="project_tagline">{{ page.title }}</h2>

      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-54689054-2");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>


  </body>
</html>